@using Microsoft.AspNetCore.Identity;
@model BookResponse
<form asp-action="AddToCart" method="post">
    <input asp-for="Id" hidden />
    <input asp-for="AuthorId" hidden />
    <input asp-for="CategoryId" hidden />
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-dark bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Title</h3>
                    <p class="text-white fw-semibold mb-0">by <a class="text-white" asp-action="index" asp-route-search="@Model.AuthorName">@Model.AuthorName</a></p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="py-3">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-3 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 offset-lg-1 text-center mb-3">
                        <img src="https://picsum.photos/600/700" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">

                        <div class="col-12 col-md-6 pb-4">
                            <span class="badge rounded-pill bg-warning">@Model.CategoryName</span>
                        </div>                        
                        <div class="col-12 col-md-6 pb-0">
                            <h3 class="">@Model.Price.ToString("c")</h3>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit"
                                        class="btn btn-dark bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

